body {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#game-area {
    position: relative; 
    width: 300px;
    height: 400px;
    background-color: #aaddff; 
    border: 5px solid #333;
    overflow: hidden;
}

#player {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: green; 
    bottom: 10px; 
    left: 135px;
    transition: bottom 0.1s linear; 
}
#obstacle {
    position: absolute;
    width: 80px;
    height: 40px;
    background-color: red; 
    top: 200px; 
    animation: moveLeftRight 4s linear infinite; 
}

#goal {
    position: absolute;
    width: 100%;
    height: 15px;
    background-color: yellow;
    top: 0; 
    left: 0;
}

@keyframes moveLeftRight {
    0% { left: 300px; }  
    50% { left: -80px; } 
    100% { left: 300px; } 
}